<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>Tarea4-Distribuidos</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>JSP Servlet</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
    	<servlet-name>IndexServlet</servlet-name>
    	<jsp-file>/index.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>IndexServlet</servlet-name>
    	<url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>TodosServlet</servlet-name>
    	<jsp-file>/todos.jsp</jsp-file>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>TodosServlet</servlet-name>
		<url-pattern>/todos</url-pattern>
	</servlet-mapping>

 	<servlet>
    	<servlet-name>AlbumsServlet</servlet-name>
    	<jsp-file>/albums.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AlbumsServlet</servlet-name>
        <url-pattern>/albums</url-pattern>
    </servlet-mapping>

	 <servlet>
    	<servlet-name>CommentsServlet</servlet-name>
    	<jsp-file>/comments.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>

	 <servlet>
    	<servlet-name>PhotosServlet</servlet-name>
    	<jsp-file>/photos.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>PhotosServlet</servlet-name>
        <url-pattern>/photos</url-pattern>
    </servlet-mapping>

	 <servlet>
    	<servlet-name>PostsServlet</servlet-name>
    	<jsp-file>/posts.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostsServlet</servlet-name>
        <url-pattern>/posts</url-pattern>
    </servlet-mapping>

	<servlet>
    	<servlet-name>UsersServlet</servlet-name>
    	<jsp-file>/users.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorPages/error404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorPages/error500.jsp</location>
    </error-page>
    
</web-app>
